.resource-list {
  overflow-y: hidden;

  max-height: 0px;
  transition: max-height 0.5s ease, padding 0.5s ease;
  /* padding: 0px 24px; */
}

.resource-list.expanded {
  max-height: 10000px;
  /* padding: 8px 24px; */
}