#navbar {
  background-image: url('/navbar bg.webp');
  background-size: 100% 100%;
  width: 100%;
  min-height: 150px;
}

.nav-logo {
  min-width: 176px;
  height: 100px;
  width: 176px;
}

.nav-logo-sm {
  min-width: 113px;
}

.nav-items {
  width: 100%;
  font-size: 24px;
  /* font-weight: bold; */
  color: var(--pandoras-purple);
}

#pre-nav {
  color: var(--pandoras-purple);
}

.schedule-btn {
  /* font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  background-color: var(--pandoras-orange);
  border-radius: 4px;
  font-size: 18px;
}

@media (max-width: 768px) {
  #navbar {
    min-height: 120px;
  }

}

@media (max-width: 640px) {
  .schedule-btn {
    font-size: 14px;
  }
}