.faq-answer {
  overflow-y: hidden;

  max-height: 0px;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0px 24px;
}

.faq-answer.expanded {
  max-height: 5000px;
  padding: 8px 24px;
}